
<body>
  <nav
    class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl"
    style="background: linear-gradient(to right, #2a2a2a, #555);">

    <div class="navbar-container d-flex content">
      <div class="bookmark-wrapper d-flex align-items-center">
        <ul class="nav navbar-nav d-xl-none">
          <li class="nav-item">
            <a class="nav-link menu-toggle" href="#"><i class="ficon" data-feather="menu"></i></a>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav align-items-center ms-auto">
        

        <li class="nav-item dropdown dropdown-user">
          <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="avatar">
              
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
            <a class="dropdown-item" href="/admin/profile"><i class="me-50" data-feather="user"></i> Profile</a>
            <a class="dropdown-item" href="/admin/change_password"><i class="me-50" data-feather="lock"></i> Reset
              Password</a>
            <a class="dropdown-item" onclick='logoutUser()'><i class="me-50" data-feather="power"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <script>
    function logoutUser(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You will be logged Out!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, logout!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/admin/logout",
            method: "post",
            data: { id: id },
            success: function (res) {
              if (res.success) {
                Swal.fire({
                  title: "Logged Out!",
                  text: "You are logged out successfully",
                  icon: "success",
                  timer: 2000,
                  timerProgressBar: true,
                  showConfirmButton: false,
                }).then(() => {
                  window.location.href = "/admin/login";
                });
              }
            },
          });
        }
      });
    }

  </script>


</body>