<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        text-align: center;
      }
      .container img {
        max-width: 100%;
        height: auto;
      }
      .notification-bg {
        width: 18%;
        max-width: 500px;
        max-height: 220px;
      }

      .no-notification-text {
        width: 30%;
        max-width: 150px;
        margin-top: 5px;
      }

      .subheader {
        background: #444;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        margin-top: 40px;
      }

      .subheader h2 {
        font-size: 16px;
        margin-left: 50px;
      }

      .request-btn {
        background: black;
        color: white;
        border: 1px solid white;
        padding: 10px 14px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 30px;
        transition: 0.3s;
        margin-right: 50px;
      }
      .request-link {
        color: white;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%- include('./common/navbar.ejs') %>

    <div class="subheader">
      <h2>Notifications</h2>
      <button class="request-btn">
        <a href="/users/requestsrides" class="request-link">Requests</a>
      </button>
    </div>
    <div class="container">
      <img
        src="/assets/notificationpagebg.png"
        alt="Notification Background"
        class="notification-bg"
      />
      <img
        src="/assets/nonotificationtext.png"
        alt="No Notifications"
        class="no-notification-text"
      />
    </div>
  </body>
</html>
